<div class="panel panel-primary">
    <div class="panel-heading"
         style="font-size:large">
        {{}}
    </div>
    <div class="panel-body">
        <div>
            <select ng-options="locality.name for locality in vm.localities" ng-model="vm.choosenLocality"></select>
        </div>
        <select ng-options="sport.name for sport in vm.sports" ng-model="vm.choosenSport"></select>
        <select ng-options="variant.description for variant in vm.choosenSport.variants" ng-model="vm.choosenSportVariant">
            <option value="">Any</option>
        </select>

    </div>
</div>