<md-input-container>
    <md-content>
        <md-input-container flex>
            <label>Description</label>
            <textarea ng-model="vm.player.description"></textarea>
        </md-input-container>
        <section layout-wrap>
            <md-button class="md-fab" ng-style="!vm.weekday.monday && {'background-color':'transparent', 'color':'initial'}" aria-label="Monday" ng-click="vm.weekday.monday = !vm.weekday.monday">
                Mon
            </md-button>
            <md-button class="md-fab" ng-style="!vm.weekday.tuesday && {'background-color':'transparent', 'color':'initial'}" aria-label="Tuesday" ng-click="vm.weekday.tuesday = !vm.weekday.tuesday">
                Tue
            </md-button>
            <md-button class="md-fab" ng-style="!vm.weekday.wednesday && {'background-color':'transparent', 'color':'initial'}" aria-label="Wednesday" ng-click="vm.weekday.wednesday = !vm.weekday.wednesday">
                Wed
            </md-button>
            <md-button class="md-fab" ng-style="!vm.weekday.thursday && {'background-color':'transparent', 'color':'initial'}" aria-label="Thursday" ng-click="vm.weekday.thursday = !vm.weekday.thursday">
                Thu
            </md-button>
            <md-button class="md-fab" ng-style="!vm.weekday.friday && {'background-color':'transparent', 'color':'initial'}" aria-label="Friday" ng-click="vm.weekday.friday = !vm.weekday.friday">
                Fri
            </md-button>
            <md-button class="md-fab" ng-style="!vm.weekday.saturday && {'background-color':'transparent', 'color':'initial'}" aria-label="Saturday" ng-click="vm.weekday.saturday = !vm.weekday.saturday">
                Sat
            </md-button>
            <md-button class="md-fab" ng-style="!vm.weekday.sunday && {'background-color':'transparent', 'color':'initial'}" aria-label="Sunday" ng-click="vm.weekday.sunday = !vm.weekday.sunday">
                Sun
            </md-button>
        </section>

        <section layout="row" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-style="!vm.daytime.morning && {'background-color':'transparent', 'color':'initial'}" aria-label="Morning" ng-click="vm.daytime.morning = !vm.daytime.morning">
                Morning
            </md-button>
            <md-button class="md-raised md-primary" ng-style="!vm.daytime.midday && {'background-color':'transparent', 'color':'initial'}" aria-label="Midday" ng-click="vm.daytime.midday = !vm.daytime.midday">
                Midday
            </md-button>
            <md-button class="md-raised md-primary" ng-style="!vm.daytime.evening && {'background-color':'transparent', 'color':'initial'}" aria-label="Evening" ng-click="vm.daytime.evening = !vm.daytime.evening">
                Evening
            </md-button>
        </section>
        <md-button ng-click="vm.addNewPlayer()">Save</md-button>
    </md-content>
</md-input-container>
